@import '../scss/colors.scss';

@import url('https://fonts.googleapis.com/css?family=Changa|Liu+Jian+Mao+Cao|Orbitron|Shadows+Into+Light&display=swap');

.NavBar{
    display: grid;
    gap: 1rem;

    //grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    grid-template-columns: repeat(6, 1fr);

    //grid-template-columns: repeat(12, minmax(240px, 1fr));

    grid-template-columns: repeat(auto-fill, minmax(240px, 300px));
    
    //grid-template-columns: repeat(auto-fit, minmax(240px, 300px))
    .HomeLink{
        text-decoration: none;

    .Logo{
        height: 10px;
        width: auto;
        .LogoImage{
            height: 20px;
            width: auto;

        }
    }

    // .HomeText{
    //     font-family: 'Shadows Into Light';
    // font-size: 100 em;
    // color: black;
    // text-decoration: none;
    // }
}

.CreateLink{
    text-decoration: none;
     .CreateText{
        color: black;
        font-family: 'Shadows Into Light';
    font-size: 100 em;
    color: black;
    }
}

    
    .header{
        
        
    }

}